body{
    background: linear-gradient(to right, #EE3190, #69265C);
}

#titleCat{
    margin-top:50px;
    text-align: center;
}

#palabraRandom{
    margin-top: 150px;
    text-align: center;
}



.botones{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin:15px;
    height: 150px;
}

#palabraIncorrecta{
    background-color: #cb3234;
    border-color: #cb3234;
    margin:10px

}

#palabraCorrecta{
 background-color: #008f39;
 border-color: #008f39;
 margin:10px
}

#palabraRepetida{
    display:flex;
    align-items:center;
    margin-top:40px
}

#puntaje,#puntajeAcum{
font-size:35px
}

#timeRest{
 min-height: 100vh;
color:black;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  color: white;
  font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
  font-size: 40px;
  text-align: center;

}

.establecerTiempo{

  display: grid;
  margin-top: 250px;

  color: white;
  font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
  font-size: 40px;
  text-align: center;

}